.clear-bottom {
    &:after{
        clear: both;
        display: block;
        content: "";
    }
}
.copy {
  font-size: 18px;
  color: $color__text-main;
  @media screen and (min-width: $tabwidth){
    font-size: 22px;
  }
  > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  p {
    margin: 20px 0;
  }
  strong, b, em {
    font-weight: 700;
  }
  a {
    text-decoration: none;
    color: $color__dw-blue;
    position: relative;
    &:hover {
      color: $color__dw-red;
    }
  }
  h1, h2, h3 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
    color:  $color__text-main;
  }
  h1 {
    font-size: 25px;
    @media screen and (min-width: $tabwidth){ 
        font-size: 30px;
    }
  }
  h2 {
    font-size: 20px;
    @media screen and (min-width: $tabwidth){
        font-size: 30px;
    }
  }
  h3 {
    font-size: 20px;
  }
  ul, ol {
    padding: 0;
    margin: 0 0 20px 20px;
    font-size: inherit;
    li {
      margin: 0 0 0 20px;
      font-size: inherit;
      padding: 0;
      list-style-type: square;
      a {
        cursor: pointer;
        color: $color__dw-blue;
        &:hover {
          color: $color__dw-red;
        }
      }
      ul.sub-menu {
        margin: 0;
      }
    }
  }
}
#masthead {
    @include flexbox();
    @include flexbox-justify(center);
    @include flexbox-align-content(stretch);
    @include flexbox-align-items(stretch);
    @include flexbox-direction(column);
    padding: 20px;
    @media screen and (min-width: $tabwidth){
        @include flexbox-direction(row);
        padding: 1% calc(3% - 20px) 2% 3%;
        @include flexbox-align-content(center);
        @include flexbox-align-items(center);
    }
    @media screen and (min-width: $deskwidth){
      @include flexbox-align-content(flex-end);
      @include flexbox-align-items(flex-end);
    }
  .logo {
    width: 80%;
    margin: 0 auto;
    @include flexbox-flex(0,0,auto);
    @media screen and (min-width: $tabwidth){
      width: 30%;
      min-width: 250px;
      margin: 0;
    }
    a {
      display: block;
      img {
        display: block;
        width: 100%;
      }
    }
  }
  #site-navigation {
    width: 100%;
    text-align: center;
    &.toggled {
      .menu-primary-container {
        display: block;
      }
    }
    @media screen and (min-width: $tabwidth){
      width: 70%;
    }
    button {
      margin: 20px 0;
      text-shadow: none;
      box-shadow: none;
      background-color: $color__dw-blue;
      color: white;
      border-radius: 3px;
      border: 0;
      font-size: 18px;
      @media screen and (min-width: $tabwidth){
        display: none;
      }
    }
    .menu-primary-container {
      display: none;
      @media screen and (min-width: $tabwidth){
        display: block;
      }
      >ul {
        margin: 0;
        padding: 0;
        text-align: center;
        @media screen and (min-width: $tabwidth){
          text-align: right;
        }
        >li {
          list-style-type: none;
          padding: 10px 0;
          margin: 0;
          position: relative;
          &:hover {
            >.sub-menu {
              display: block;
            }
          }
          @media screen and (min-width: $tabwidth){
            display: inline-block;
            padding: 0 20px;
            &:last-child {
              margin-right: 25px;
            }
          }
          >a {
            color: $color__text-main;
            text-decoration: none;
            font-size: 18px;
            @media screen and (min-width: $deskwidth){
              font-size: 20px;
            }
            &:hover {
              color: $color__text-main;
            }
          }
          >.sub-menu {
            text-align: center;
            margin: 0;
            padding: 0;
            @media screen and (min-width: $tabwidth){
              display: none;
              position: absolute;
              text-align: left;
              width: 120%;
              left: -10%;
              top: 16px;
              margin: 0;
              padding: 20px;
            }
            >li {
              display: block;
              list-style-type: none;
              padding: 10px 0;
              @media screen and (min-width: $tabwidth){
                background-color: $color__dw-blue;
                padding: 10px;
              }
              a {
                display: block;
                font-size: 16px;
                text-decoration: none;
                color: $color__text-main;
                &:hover {
                  color: $color__text-main;
                }
                @media screen and (min-width: $tabwidth){
                  color: white;
                  &:hover {
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
#colophon {
  background-color: $color__dw-blue;
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 18px;
  @media screen and (min-width: $tabwidth){
    padding: 4% 4% 2% 4%;
    font-size: 22px;
  }
}
.register-button {
    padding-bottom: 4px !important;
    background-color: $color__dw-dark-red;
    border-radius: 5px;
    display: inline-block;
  >.wrapper {
    background-color: $color__dw-red;
    border-radius: 5px;
    a {
      padding: 20px 30px;
      font-size: 20px;
      color: white;
      &:hover {
        color: white;
      }
      @media screen and (min-width: $tabwidth){
        font-size: 45px;
      }
    }
  }
}