#main {
    .template-index {
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: top;
        @media screen and (max-width: $tabwidth - 1px){ 
            background-image: none !important;
        }
        >header.row-1 {
            background-color: rgba(255,255,255,0.7);
        }
        >.row-2 {
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: top;
            @media screen and (min-width: $tabwidth){
                background-image: none !important;
            }
            >.row-1 {
                padding: 20px;
                color: white;
                text-align: center;
                font-weight: 700;
                text-shadow: 2px 5px 5px black;
                font-size: 35px;
                @media screen and (min-width: $tabwidth){
                    padding: 10% 5% 15% 5%;
                    font-size: 50px;
                }
                @media screen and (min-width: $deskwidth){
                    font-size: 100px;
                }
                h2 {
                    margin: 0;
                }
            }
            >.row-2 {
                padding: 20px 0;
                @media screen and (min-width: $tabwidth){
                    padding: 0 10% 15% 10%;
                }
                >.outer-wrapper {
                    width: calc(100% - 40px);
                    margin: 20px;
                    background-color: white;
                    box-shadow: 3px 3px 20px black;
                    @media screen and (min-width: $tabwidth){
                        margin: 2%;
                        width: 46%;
                        float: left;
                    }
                    a {
                        display: block;
                        padding: 15px;
                        text-decoration: none;
                        height: 100%;
                        >.inner-wrapper {
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            padding-top: 80%;
                            height: 100%;
                            @include flexbox();
                            @include flexbox-justify(center);
                            @include flexbox-align-content(flex-end);
                            @include flexbox-align-items(flex-end);
                            @include flexbox-direction(row);
                            h2 {
                                width: 100%;
                                background-color: rgba(0,0,0,0.5);
                                color: white;
                                text-align: center;
                                padding: 20px;
                                margin: 0;
                                font-size: 20px;
                                @media screen and (min-width: $tabwidth){
                                    padding: 4% 1%;
                                }
                                @media screen and (min-width: $deskwidth){
                                    font-size: 35px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.template-sports {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
    >.row-1 {
        padding: 20px;
        text-align: center;
        padding: 15% 5% 30% 5%;    
        h1 {
            margin: 0;
            color: white;
            font-size: 35px;
            font-weight: 700;
            text-shadow: 2px 5px 5px black;
            @media screen and (min-width: $tabwidth){
                font-size: 50px;
            }
            @media screen and (min-width: $deskwidth){
                font-size: 100px;
            }
        }
    }
    >.row-2 {
        padding: 20px 0;
        @media screen and (min-width: $tabwidth){
            padding: 0 10% 3% 10%;
        }
        >.outer-wrapper {
            width: calc(100% - 40px);
            margin: 20px;
            background-color: white;
            box-shadow: 3px 3px 20px black;
            &:hover {
                a {
                    >.inner-wrapper {
                        padding: 0;
                        >h2 {
                            display: none;
                        }
                        .hidden {
                            @include flexbox();
                        }
                    }
                }
            }
            @media screen and (min-width: $tabwidth){
                margin: 1.5%;
                width: 1/3*91%;
                float: left;
            }
            a {
                display: block;
                padding: 15px;
                text-decoration: none;
                height: 100%;
                @media screen and (min-width: $tabwidth){
                    padding: 3%;
                }
                >.inner-wrapper {
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    padding-top: 70%;
                    height: 100%;
                    @include flexbox();
                    @include flexbox-justify(center);
                    @include flexbox-align-content(flex-end);
                    @include flexbox-align-items(flex-end);
                    @include flexbox-direction(row);
                    >h2 {
                        width: 100%;
                        background-color: rgba(0,0,0,0.5);
                        color: white;
                        text-align: center;
                        padding: 20px;
                        margin: 0;
                        font-size: 18px;
                        @media screen and (min-width: $tabwidth){
                            padding: 4% 1%;
                        }
                        @media screen and (min-width: $deskwidth){
                            font-size: 25px;
                        }
                    }
                    .hidden {
                        display: none;
                        height: 100%;
                        background-color: rgba(0,0,0,0.5);
                        @include flexbox-justify(center);
                        @include flexbox-align-content(center);
                        @include flexbox-align-items(center);
                        @include flexbox-direction(column);
                        width: 100%;
                        text-align: center;
                        padding: 20px;
                        @media screen and (min-width: $tabwidth){
                            padding: 8%;
                        }
                        h2 {
                            color: white;
                            font-size: 18px;
                            margin: 0;
                            @media screen and (min-width: $deskwidth){
                                font-size: 25px;
                            }

                        }
                        .dates {
                            color: white;
                            font-size: 16px;
                            margin-top: 20px;
                            @media screen and (min-width: $deskwidth){
                                font-size: 20px;
                            }
                        }
                        .learn-more {
                            margin-top: 20px;
                            border: 1px solid white;
                            color: white;
                            padding: 10px;
                            width: 100%;
                            font-size: 18px;
                            @media screen and (min-width: $deskwidth){
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
    >.row-3 {
        padding: 0 20px 40px 20px;
        @media screen and (min-width: $tabwidth){
            padding: 0 11.5% 10% 11.5%;
        }
    }
}
.template-page {
    background-repeat: no-repeat;
    background-size: 150% auto;
    background-position: top;
    @media screen and (min-width: $tabwidth){
        background-size: 100% auto;
    }
    >.row-1 {
        padding: 20px;
        text-align: center;
        padding: 15% 5% 15% 5%;    
        h1 {
            margin: 0;
            color: white;
            font-size: 35px;
            font-weight: 700;
            text-shadow: 2px 5px 5px black;
            @media screen and (min-width: $tabwidth){
                font-size: 50px;
            }
            @media screen and (min-width: $deskwidth){
                font-size: 100px;
            }
        }
        h2 {
            margin: 0;
            line-height: 1;
            font-size: 20px;
            color: white;
            font-weight: 700;
            @media screen and (min-width: $tabwidth){
                font-size: 35px;
            }
            @media screen and (min-width: $deskwidth){
                font-size: 70px;
            }
        }
    }
    >.row-2.outer-wrapper {
        width: 100%;
        margin: 0 auto 20px auto;
        background-color: white;
        @media screen and (min-width: $tabwidth){
            width: 80%;
            margin-bottom: 10%;
            padding: 20px;
            background-color: rgba(255,255,255,0.5);
        }
        >.inner-wrapper {
            padding: 20px;
            @media screen and (min-width: $tabwidth){
                background-color: white;
            }
        }
    }
}
.template-sitemap, .error-404 {
    background-repeat: no-repeat;
    background-size: 150% auto;
    background-position: top;
    @media screen and (min-width: $tabwidth){
        background-size: 100% auto;
    }
    >.row-1 {
        padding: 20px;
        text-align: center;
        padding: 15% 5% 15% 5%;    
        h1 {
            margin: 0;
            color: white;
            font-size: 35px;
            font-weight: 700;
            text-shadow: 2px 5px 5px black;
            @media screen and (min-width: $tabwidth){
                font-size: 50px;
            }
            @media screen and (min-width: $deskwidth){
                font-size: 100px;
            }
        }
    }
    >.row-2.outer-wrapper {
        width: 100%;
        margin: 0 auto 20px auto;
        background-color: white;
        @media screen and (min-width: $tabwidth){
            width: 80%;
            margin-bottom: 10%;
            padding: 20px;
            background-color: rgba(255,255,255,0.5);
        }
        >.inner-wrapper {
            padding: 20px;
            @media screen and (min-width: $tabwidth){
                background-color: white;
            }
        }
    }
}